@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
max-width: 1200px;
font-family: 'Montserrat', sans-serif;
margin: 20px; }

header {
height: 60px;
width: 100%;
position: fixed;
z-index: 10;
background: black;
}

header #logo {
position: absolute;
top: 10px;
float: left;
height: 60px;
width: 170px;
margin-left: 5%;
}

header #logo img{
max-height: 100%;
}

header .menu { float: right;
list-style: none;
margin-top: 0px;
margin-right: 5%;
}

header .menu li {
float: left;
font-size: 18px;
padding: 20px 10px 20px 10px;
}

header .menu li a { color: initial;
text-decoration: initial;
color: white;
}

header .menu li:hover {
background-color: #01acea;
}

/* --------  Capa  -------- */
figure {
margin: 0 auto;
}

figure .imagem_fundo {
background: url(imagens/219-1024x597.jpg); 
background-size: cover;
height: 100%;
padding: 10px;
}
    
figure .titulo {
color: #FFF;
line-height: 0.9;
text-shadow: 1px 1px black;
}

figure h1.titulo {
font-size: 50px;
letter-spacing: -5px;
margin: 20% 20% 0 20%;
padding-bottom: 20px;
}





header{
background-color: rgb(61, 67, 155);
color: white;
height: 90px;
width: 100%;
position: float;
z-index: 10;
margin-top: 0px 0px 0px 0px;
}

#menu{
    float: right;
    margin-right: 5%;
    list-style: none;
    
}

.lista1{
    float: left;
padding: 10px 10px 10px 10px;
text-decoration: none;
}

.lista1:hover{
    background-color: rgb(97, 103, 181);
}


h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    color:rgb(58, 11, 198); font-size: 2rem; vertical-align: text-top;
}

#lista1{
color:rgb(4, 4, 16);
text-align: justify;
padding: 40px;
}

#video {
    height: 300px;
    padding-left: 10px;
    margin-top: 30px;
    margin-left: 30px;
}
.video1{
    float: left;
    padding: 0% 5%;
    position: relative;
    width: 40%;
}
#textovideo{color:rgb(4, 4, 16);
    text-align: justify;
    
}
#linha{color:rgb(4, 4, 16);
    text-align: justify;
   padding-top: 20px;

}

h4, h5, h6 {  margin-top: 30px;
    margin-bottom: 30px;
    color:rgb(17, 17, 213); font-size: 1rem; vertical-align: text-top;
}

#textojustificado {color:rgb(4, 4, 16);
    text-align: justify;
    padding: 10px;
}

#creditos{ margin-top: 30px;
    margin-bottom: 30px;
    color:rgb(4, 4, 16); font-size: small;

}
#textosecao1 {color:rgb(4, 4, 16);
    text-align: justify;
    padding: 40px;
}
#textosecao2 {color:rgb(4, 4, 16);
    text-align: justify;
    padding: 10px;

}
.destaque{color:rgb(4, 4, 16);
    text-align: justify;
    padding: 10px;

}

.destaquefoto{width: 70%;
    height: 300px;
    padding: 10px;
    padding-left: 10px;
    margin-top: 30px;
    margin-left: 30px;

}
.legendafotos{
    color:rgb(37, 37, 146);
    text-align: justify;
    font-size: small;
    padding: 0%;
    margin-top: 5px;
    margin-left: 10px; 
}
footer{
    background-color: rgb(144, 127, 230);
}
@media all and (max-width:768px) {
    #menu{
        visibility: hidden;
    }
    .video1{ display: block;
width: 80%;
padding: 0;
margin: 10px auto;
float: none;
    }
}