body {
    background-color: #decac7;
    max-width: 1200px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

#apresentacaoobjetivos{
background-color: #c6a7a7;
    }

h1 {
    line-height: 25px;
    margin-top: 30px;
   margin-bottom: 10px;
   color:rgb(49, 9, 169); font-size: 2rem; vertical-align: justify;
  
}
#objetivo5 { 
    width: 500px;
    height: 300px;
    padding: 10px;
    padding-left: 270px;
    margin-top: 30px;
    margin-left: 30px;
  }

  #apresentacaoobjetivo5{
    background-color: #d7c1c1;
  }

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    color:rgb(58, 11, 198); font-size: 2rem; vertical-align: text-top;
}

#lista1{
color:rgb(4, 4, 16);
text-align: justify;
padding: 40px;
}

#video{
    padding-left: 270px;
}

#apresentacaometa{
    background-color: #e2d1d1;

}
h3, h4 {  margin-top: 30px;
    margin-bottom: 30px;
    color:rgb(17, 17, 213); font-size: 2rem; vertical-align: text-top;
}

#ativistas{
    background-color: #eee0e0;
}

#textojustificado {color:rgb(4, 4, 16);
    text-align: justify;
    padding: 10px;
}



h5{ margin-top: 30px;
    margin-bottom: 30px;
    color:rgb(4, 4, 16); font-size: small;

}
#textosecao1 {color:rgb(4, 4, 16);
    text-align: justify;
    padding: 40px;
}
#textosecao2 {color:rgb(4, 4, 16);
    text-align: justify;
    padding: 10px;

}
.destaque{color:rgb(4, 4, 16);
    text-align: justify;
    padding: 10px;

}

.destaquefoto{width: 500px;
    height: 300px;
    padding: 10px;
    padding-left: 270px;
    margin-top: 30px;
    margin-left: 30px;

}

#legendafotoomnia {color:rgb(146, 146, 154);
    text-align: justify;
    font-size: small;
    padding: 0%;
    margin-top: 5px;
    margin-left: 300px;
}
 
#legendafotowaris {color:rgb(146, 146, 154);
    text-align: justify;
    font-size: small;
    padding: 0%;
    margin-top: 5px;
    margin-left: 500px;
    
}
